@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
    --var-text-color: #FFFFFF;
    --var-backgroun-color: #17141d;
        
}

body {
    display: flex;
    flex-direction: column;
    background-color: #17141d;
    color: white;
    
    
   
}

nav{
    display: flex;
    justify-content: center;
    
    
}

.navitems {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 0px 20px;
    background-color: #1158a0;
    position: fixed;    
    gap: 50px;
    border-radius: 18px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    z-index: 999;
    box-shadow: 1rem 0 3rem #000;
    
}

.navitems a{
    font-size: clamp(1.25rem, 3.5vw, 1.75rem);
    padding: 10px;
    font-weight: 600;
    text-decoration: none;
    color: var(--var-text-color);
    
}

.navitems a:hover{
    background: linear-gradient(90deg, #2ff0f0, #e52e71);
        text-shadow: none;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}




.Blog{
    width: 80%;
    margin: auto;
}